name: Publish

on: 
  release:
    types: [published]

jobs:
  publish:
    name: Publish Package to PyPI and Test PyPI
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: main
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install pypa/build
      run: >-
        python -m
        pip install build==0.5.0
    - name: Build a binary wheel and a source tarball
      run: python -m build
    - name: Publish distribution to Test PyPI
      uses: pypa/gh-action-pypi-publish@v1.4.1
      with:
        verbose: true
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        verbose: true
        password: ${{ secrets.PYPI_API_TOKEN }}
  documentation:
    name: Publish documentation
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Clone docs repo
        run:
          git clone https://github.com/IGES-Geospatial/globe-observer-utils-docs.git
      - name: Generate Docs
        run: |
          pip install -e .
          pip install pdoc
          pdoc --t doc_template --docformat numpy -o globe-observer-utils-docs go_utils/.
      - name: Push docs to doc repo
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: 'globe-observer-utils-docs'
          destination-github-username: 'IGES-Geospatial'
          destination-repository-name: 'globe-observer-utils-docs'
          user-email: uploadingacct71@gmail.com
          target-branch: main
